
<footer class="bg-link text-center" style="position:absolute; bottom:0; width: 100%">



  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="https://github.com/MohamedNiaissa/CareerProjectSymfony" role="button"><i class="fab fa-github"></i></a>
    <p>© 2022 Copyright:</p>
    <a class="text-dark" style="text-decoration: none;"><strong>CareerProjectSymfony</strong> create by <strong>Christopher,Léo,Mohamed,Maxime</strong><a>
  </div>


</footer>
